.page-danger .page-danger-article .danger-wrap{
    padding: 0.15rem 0.15rem;
}

.page-danger .page-danger-article .danger-wrap .danger-tip-title{
    padding: 0 0 0.05rem 0;
    font-size: 0.18rem;
}